body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('../img/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid #FF0000;
    position: relative;
    font-weight: 400;
}

.logo {
    padding-top: 20px;
    width: 70px;
}


.menu-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    border-left: 2px solid #FF0000;
    transition: right 0.5s ease;
    z-index: 1000;
}

.menu a {
    padding: 22px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 2px solid #FF0000;
}

.menu a:last-child {
    border-bottom: none;
}

.menu.open {
    right: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.open {
    display: block;
}

.clear-notifications-form {
    position: fixed;
    bottom: 10px;
    padding: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    border-radius: 20px;

}

.clear-notifications-form button {
    background-color: #f44336; /* Красный цвет для кнопки */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s;
}

.clear-notifications-form button:hover {
    background-color: #d32f2f; /* Более темный красный при наведении */
    transform: scale(1.1);
}

.notification {
    background-color: #aaaaaa; /* Цвет фона для обычных уведомлений */
    padding: 10px;
    margin-bottom: 20px; /* Расстояние между уведомлениями */
    border-radius: 5px;
}

.status-notification {
    background-color: #4c4d53; /* Цвет фона для уведомлений со статусом */
    color: white; /* Цвет текста */
}

.notification p {
    margin: 0; /* Убираем отступы для параграфа внутри уведомления */
}

.notification span {
    font-size: 0.8em; /* Уменьшаем размер шрифта для времени создания уведомления */
    color: #878787; /* Цвет для времени создания уведомления */
}

.noti-link {
    color: white; /* Цвет ссылки в уведомлениях со статусом */
    text-decoration: none; /* Убираем подчеркивание ссылки */
}

.notifications-container {
    margin-top: 10px;
}
